body{
	background-color: #080610;
}
h2{
	color: #00ff41;
	font-family: 'Roboto Mono', monospace;
	font-size: 60px;
	font-weight: bold;
}
p,a{
	color: white;
	font-family: 'Poppins',  sans-serif;
	font-size: 20px;
	font-weight: bold;	
}
#section-about{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative; 
}
.text-zone p{
	margin-bottom: 15px;
	line-height: 30px;
	padding-right: 10px;

}
#demo{
	color: #00ff41;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 30px;
	line-height: 30px;
}
#myCanvas{
	display:none;
}
/* media section for bigger screen */

@media screen and (min-width: 950px) {

	#section-about{
		flex-direction: row;
		padding-left: 60px;
		padding-right: 60px;
	
	}
	#myCanvas{
		display: block;
	}
	
	#skills-charts{
		font-size: 40px;
		text-transform: uppercase;
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 100;
		color: #00ff41;
		background-color: black;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 200px;
		padding-bottom: 200px;
		width: 100%;
		height: 100%;	
		
	}
	.content {
		text-align: center;
		position: relative;
		width: 565px;
		
	}
	
	.random{
		border: 2px solid;
		padding: 15px;
		
	}
	.random > span{
		width: 30px;
		display: inline-block;
	}
	#demo{
		font-size: 70px;
	}
	.text-zone p{
		padding-right: 60px;
	}
	
}

